<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-card">
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <section class="form-title">
            <h1>Create new password</h1>
        </section>
        <form class="auth-form" action="/auth/create-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <div class="form-container">
                <label for="password">Password :</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <button type="submit" class="btn">Update Password</button>
            </div>

        </form>
    </main>

<%- include('../includes/footer.ejs') %>