<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-card">
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <section class="form-title">
            <h1>Sign up</h1>
        </section>
        <form class="auth-form" action="/auth/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-container">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-container">
                <label for="password">Password :</label>
                <input type="password" name="password" id="password">
            </div>

            <div class="form-container">
                <label for="cpassword">Confirm password :</label>
                <input type="password" name="cpassword" id="cpassword">
            </div>
            <div>
                <button type="submit" class="btn">Sign up</button>
            </div>

        </form>
    </main>

<%- include('../includes/footer.ejs') %>